/*		common & navbar items		*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: #d6d6d6;
}

.navbar-primary {
	background-color: #262626;
}

.top-logo {
	margin-top: -5px;
}

.avatar-top-navbar {
	margin-top: 13px;
}

.navbar-secondary {
	background-color: #323232;
	margin-top: 50px;
	height: 40px;
	padding: 0px;
}

a.top-nav {
	color: white;
}

.navbar-nav.nav-justified > li {
	float: none;
}

.navbar-nav a.top-nav:hover,
.navbar-nav a.top-nav:focus {
  color: #fff;
  background-color: #454545;
}

.top-search {
	background-color: #595959;
	border: none;
}

.form-group.top {
	display: inline-block;
	float: none;
}

.dropdown-toggle top-nav {
	color: white;
}

.dropdown.open {
	z-index: 1000000;
}

.breadcrumb {
	margin-top: 120px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border: 0px;}

/* fixing the leftnav */

.nav-stacked > li {
  float: none;
  background-color: #ffffff;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked>li+li {
    margin-top: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}

/* the main table layout */
table {
	background-color: #ffffff;
}

th {
	font-weight: 600;
}

tfoot,thead {
	background-color: #f5f5f5;
}

td.approved {
	color: green;
	text-align: center;
}

td.not-approved {
	color: red;
	text-align: center;
}

td.error {
	color: red;
}

td.number {
	text-align: center;
}

tfoot ul.pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

.table-sorter {
	background-color: #323232;
	height: 40px;
	color: #fff;
	padding: 10px;
}